<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <a th:href="@{/}">
        <div class="row">
            <h1 class="login-form-header">Jestřabice 2023</h1>
        </div>
    </a>
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h2 th:text="|Detail úlovku z ${#temporals.format(catchDTO.timestamp, ' dd.MM.yyyy HH:mm')}|"></h2>
            <div class="cypher">
                <a th:href="@{/catch/hunter/{id}(id=${catchDTO.hunterId()})}">
                    <div class="btn btn-secondary"  th:text="|Lovec: ${catchDTO.hunter}|">Jan</div>
                </a>
                <a th:href="@{/catch/fish/{id}(id=${catchDTO.fishId()})}">
                    <div class="btn btn-secondary"  th:text="|Ryba: ${catchDTO.fish}|">kapr</div>
                </a>
                <div  class="form-group" th:text="|Délka: ${catchDTO.size} cm|">120 cm</div>
                <div  class="form-group" th:text="|Váha: ${catchDTO.weight} g|">2500 g</div>
                <div class="form-group" th:text="|Popis: ${catchDTO.note}|">Poznámka</div>
            </div>
            <th:block th:each="imageId : ${catchDTO.imageIds()}">
                <div class="form-group">
                    <img class="card-img-top" th:src="@{/image/{id}(id=${imageId})}" alt="">
                </div>
            </th:block>
            <br>
            <br>
            <div>
                <h2>Nahrát fotku</h2>
                <form action="#" th:action="@{/image/new/{id}(id=${catchDTO.id})}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="image" class="login-form-label">Fotka</label>
                      <input type="file" name="image" id="image" accept="image/jpeg" >
                    </div>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </form>
            </div>
            <br>
            <div>
                <a class="btn btn-primary" href="#" th:href="@{/catch/{id}/delete(id=${catchDTO.id})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete smazat úlovek?' + '\');'">
                    Smazat úlovek
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
