<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div class="container">
    <a th:href="@{/}">
        <div class="row">
            <h1 class="login-form-header">Jestřabice 2024</h1>
        </div>
    </a>
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1>Statistiky dnů (TOP 3)</h1>
            <th:block th:each="catchesInDay : ${allStats}">
                <div class="cypher">
                    <h2 th:text="|${#temporals.format(catchesInDay.key, 'dd.MM. yyyy')} (${totalCountMap.get(catchesInDay.key)} celkem)|">15.4. 2023</h2>
                    <div class="row align-items-center">
                        <th:block th:each="catch : ${fishStats.get(catchesInDay.key)}">
                            <div class="col" th:text="|${catch.key} : ${catch.value} ks|">kapr : 5</div>
                        </th:block>
                    </div>
                    <div class="row align-items-center">
                        <th:block th:each="catch : ${hunterStats.get(catchesInDay.key)}">
                            <div class="col" th:text="|${catch.key} : ${catch.value} ks|">Jan : 5</div>
                        </th:block>
                    </div>
                    <th:block th:each="maxCatchMap : ${catchesInDay.value}">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h2 th:text="${maxCatchMap.key}">kapr</h2>
                                <th:block th:each="maxCatch : ${maxCatchMap.value}">
                                <a class="btn btn-secondary" th:href="@{/catch/{id}(id=${maxCatch.id()})}">
                                    <div class="col" th:text="|${maxCatch.hunter()} ${maxCatch.fish()} ${maxCatch.size()} cm|">150 cm</div>
                                </a>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" th:href="@{/catch/day/{date}(date=${catchesInDay.key})}">
                                <div class="col">Všechny úlovky za den</div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
