<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <a th:href="@{/}">
        <div class="row">
            <h1 class="login-form-header">Jestřabice 2023</h1>
        </div>
    </a>
    <div class="row cypher-list">
        <div class="col-sm-12">
            <form action="#" th:action="@{/fishtype}" th:object="${newFishTypeDTO}" method="post">
                <div class="form-group">
                    <label for="type" class="input-value-required">Nová ryba</label>
                    <input th:field="*{type}" id="type" required></input>
                    <p class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Chyba - Ryba</p>
                </div>
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </form>
            <h1>Statistiky ryb</h1>
            <th:block th:each="fishStats : ${allStats}">
                <div class="cypher">
                    <h2 th:text="|${fishStats.name()} (${fishStats.totalFishCount()} celkem)|">kapr (7 celkem)</h2>
                    <div class="row align-items-center">
                        <th:block th:each="catch : ${fishStats.catchesMap()}">
                            <div class="col" th:text="|${catch.key} : ${catch.value} ks|">Jan : 5</div>
                        </th:block>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <th:block th:each="maxCatch : ${fishStats.maxSizeCatches()}">
                                <a class="btn btn-secondary" th:href="@{/catch/{id}(id=${maxCatch.id()})}">
                                    <div class="col" th:text="|${maxCatch.hunter()} ${maxCatch.size()} cm|">150 cm</div>
                                </a>
                            </th:block>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" th:href="@{/catch/fish/{id}(id=${fishStats.fishId()})}">
                                <div class="col">Všechny úlovky ryby</div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
