<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div class="container">
    <a th:href="@{/}">
        <div class="row">
            <h1 class="login-form-header">Jestřabice 2023</h1>
        </div>
    </a>
    <div class="row cypher-list">
        <div class="col-sm-12">
            <form action="#" th:action="@{/hunter}" th:object="${newHunterDTO}" method="post">
                <div class="form-group">
                    <label for="name" class="input-value-required">Nový lovec</label>
                    <input th:field="*{name}" id="name" required>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Chyba - Lovec</p>
                </div>
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </form>
            <h1>Statistiky lovců</h1>
            <th:block th:each="hunterStats : ${allStats}">
                <div class="cypher">
                    <h2 th:text="|${hunterStats.name()} (${hunterStats.totalFishCount()} celkem)|">Jan</h2>
                    <div class="row align-items-center">
                        <th:block th:each="catch : ${hunterStats.catchesMap()}">
                            <div class="col" th:text="|${catch.key} : ${catch.value} ks|">Kapr : 5</div>
                        </th:block>
                    </div>
                    <th:block th:each="maxCatchMap : ${hunterStats.maxSizeCatchesMap()}">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h2 th:text="${maxCatchMap.key}">kapr</h2>
                                <th:block th:each="maxCatch : ${maxCatchMap.value}">
                                <a class="btn btn-secondary" th:href="@{/catch/{id}(id=${maxCatch.id()})}">
                                    <div class="col" th:text="|${maxCatch.fish()} ${maxCatch.size()} cm|">150 cm</div>
                                </a>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" th:href="@{/catch/hunter/{id}(id=${hunterStats.hunterId()})}">
                                <div class="col">Všechny úlovky lovce</div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
