<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div class="container">
    <a th:href="@{/}">
        <div class="row">
            <h1 class="login-form-header">Jestřabice 2024</h1>
        </div>
    </a>
    <div class="row cypher-list">
        <th:block th:each="catchDTO : ${allCatches}">
            <div class="col-sm-12">
                <h2 th:text="|${#temporals.format(catchDTO.timestamp(), ' dd.MM.yyyy HH:mm')} ${catchDTO.hunter()} ${catchDTO.fish()} ${catchDTO.size()} cm ${catchDTO.note()}|"></h2>
                <th:block th:each="imageId : ${catchDTO.imageIds()}">
                    <div class="form-group">
                        <a th:href="@{/image/{id}(id=${imageId})}">
                            <img class="card-img-top" th:src="@{/image/{id}(id=${imageId})}" alt="">
                        </a>
                    </div>
                </th:block>
            </div>
        </th:block>
    </div>
    <div class="row" th:if="${nextPhotoIndex > 0}">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <a class="btn btn-primary" href="#" th:href="@{/photos/{index}(index=${nextPhotoIndex})}">Další fotky</a>
        </div>
    </div>
</div>
</body>
</html>
